footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 30px;
  padding-top: 10px;
  border-top: 1px solid rgb(230, 230, 230);
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icon {
  font-size: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 15px 0px 15px;
  cursor: pointer;
}

.footer-icon img {
  width: 32px;
  margin-bottom: 5px;
}
